{layout '../../@layout.latte'}

{block title}Administrace - Úvod{/block}

{block content}
    <h1>Administrace</h1>
    <p>{$message}</p>
    <p><a n:href="Vacation:default">Správa žádostí o dovolenou</a></p>
{/block}